body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: #fbfbfe;
  font-family: 'roboto';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
